<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <title>HAX4th0n</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://100.80.241.157/static/js/ajax_funcs.js"></script>
</head>

<body>

entered:
left  --- <div id="left_enter"> </div>
right --- <div id="right_enter"> </div>

exited:
left  --- <div id="left_exit"> </div>
right --- <div id="right_exit"> </div>

<button type="button" class="btn btn-default" aria-label="update">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true">UPDATE</span>
</button>

</body>
</html>